<div id="toolbar" class="overflow-hidden fixed bottom-0 w-full z-50">
    <div class="flex">        
        <button id="schedule-change" class="flex hover:bg-blue-600 px-8 py-3">
            <%= inline_svg "tracks.svg", class: 'icon w-6'%>
            <span class="gothic-neo text-gray-100 text-lg tracking-wide pl-2 pt-1">Schedule Change</span>
        </button>
        <button id="clear-sheet" class="flex hover:bg-blue-600 px-8 py-3">
            <%= inline_svg "trash-white.svg", class: 'icon w-6 h-6'%>
            <span class="gothic-neo text-gray-100 text-lg tracking-wide pl-2 pt-1">Delete Last Block</span>
        </button>
        <button id="clear-sheet" class="flex hover:bg-blue-600 px-8 py-3">
            <%= inline_svg "nuke.svg", class: 'icon w-6'%>
            <span class="gothic-neo text-gray-100 text-lg tracking-wide pl-2 pt-1">Clear Sheet</span>
        </button>
    </div>
</div>