<div id="toolbar" class="overflow-hidden fixed bottom-0 w-full z-50">
    <button id="schedule-change" class="flex hover:bg-blue-600 px-8 py-3">
        <%= inline_svg "schedule-change.svg", class: 'icon w-8' %>
        <span class="font-light helvetica italic text-gray-100 text-lg tracking-wide pl-3">Schedule Change</span>
    </button>
</div>