<h1 class="text-center gothic-neo px-8 py-8 text-gray-800 text-3xl tracking-wide">Deep Work Planner</h1>

<a href="<%= signup_path %>"
  class="bg-white block border border-red-800 gothic-neo hover:bg-red-800 hover:text-red-100 mx-auto my-4 no-underline py-3 rounded shadow-lg text-center text-red-800 w-48">
  Sign Up
</a>
<a href="<%= login_path %>"
  class="bg-white block border border-blue-800 gothic-neo hover:bg-blue-900 hover:text-blue-100 mx-auto my-4 no-underline py-3 rounded shadow-lg text-blue-800 text-center w-48">
  Log In
</a>