<section class="container px-8">
    <h1 class="font-light helvetica italic px-8 py-8 text-gray-900 text-lg tracking-wide">What are you going to do today?</h1>
    <div class="flex">
        <div class="time-column w-1/5">
            <div class="time-block border-blue-400 border-l-2">
                <div class="pl-2">
                    <%= text_field_tag nil, nil, placeholder: "#{@current_time}", class: "time-start font-thin" %>
                </div>
                <div class="pl-4 py-4">
                    <%= text_area_tag nil, nil, placeholder: "Task at hand", rows: 3 ,class: "task helvetica italic p-2 tracking-wide font-light text-gray-900" %>
                </div>
                <div class="pl-2">
                    <%= text_field_tag nil, nil, placeholder: "XX:XX #{@am_pm}", class: "font-thin" %>
                </div>
            </div>
            <div class="add-time-block flex ml-8 my-8">
                <button class="bg-gray-400 h-8 relative w-8" id="time-block-button"></button>
                <span class="time-block-text font-light helvetica italic ml-2 pt-1 text-white tracking-wide w-40">Add New Time Block</span>
            </div>
        </div>
    </div>
</section>