<div class="container">
    <h1 class="font-light helvetica italic px-8 py-8 tracking-wide">What are you going to do today?</h1>
    <div class="w-1/6 border-gray-100 border-solid border-2">
        <div class="">
            <p class="time-start"></p>
        </div>
    </div>
</div>