<section class="container px-4 sm:px-8">
    <span class="form-status float-right text-gray-500 tracking-wide italic"></span>
    <h1 class="font-light helvetica italic px-8 py-8 text-gray-900 text-lg tracking-wide">What are you going to do today?</h1>
    <form id="timesheet" class="flex" data-remote="true">            
        <div class="w-1/5 current-column" id="time-column">            
            <div class="border-blue-400 border-l-2" id="time-block">
                <div class="pl-2">
                    <%= text_field_tag 'time-start', nil, placeholder: "", class: "time-init font-thin" %>
                </div>
                <div class="pl-4 py-4">
                    <%= text_area_tag nil, nil, placeholder: "Task at hand", rows: 3 ,class: "task helvetica italic p-2 tracking-wide font-light text-gray-900" %>
                </div>
                <div class="pl-2">
                    <%= text_field_tag 'time-last', nil, placeholder: "", class: "time-last-init time-block-last font-thin" %>
                </div>
            </div>
            <button class="flex ml-8 my-8 w-48" id="add-block-button">
                <div class="bg-gray-400 h-8 relative w-8" id="plus-sign"></div>
                <span class="time-block-text font-light helvetica italic pt-1 text-white tracking-wide w-40">Add New Time Block</span>
            </button>
        </div>
    </form>
</section>
<%= render 'partials/toolbar' %>

<% content_for :javascripts do %>

<% end %>