<h1 class="font-light text-center helvetica italic px-8 py-8 text-gray-800 text-3xl tracking-wide">Deep Work Planner</h1>

<a href="<%= new_timesheet_path %>"
  class="bg-white block border border-red-800 font-thin helvetica hover:bg-red-800 hover:text-red-100 italic mx-auto my-4 no-underline py-3 rounded shadow-lg text-center text-red-800 w-48">
  New Timesheet
</a>