.helvetica {
  font-family: HelveticaNeue;
  font-display: swap;
}

.task::placeholder {
  padding-top: 1.5rem;
}

input, textarea, label {
  &:focus {
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
  }
}